#player
{
    left: 560px;
    top: 200px;
}

.bird
{
    position: absolute;
    width: 34px;
    height: 24px;
    background-image: url('../assets/img/bird.png');

    -webkit-animation: animBird 300ms steps(4) infinite;
    animation: animBird 300ms steps(4) infinite;
}